<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Quên mật khẩu
    </title>
</head>

<body>
    <div class="container">
        <div class="password-reset">
            <p>{{ site_contact.company_name }} xin kính chào
                {{ email }},
            </p>

            <p>Chúng tôi xin gửi đến bạn đường dẫn thay đổi mật khẩu.</p>

            <p>Nhấp vào đường dẫn dưới đây để thay đổi mật khẩu của bạn:</p>

            <p>
                <a style='background-color: #459cdb;color: #fff;font-size: 16px; padding: 10px 15px; display:flex; align-items: center; justify-content: center;text-decoration: none; width: max-content !important; border-radius: 8px;'
                    href="{{ reset_link }}">Đổi mật khẩu</a>
            </p>

            <p><b>LƯU Ý:</b> Đường dẫn có hạn trong 3 phút.</p>

            <table style="width: 100%" width="100%">
                <tr>
                    <td style="width: 20%">
                        <a href="{{ site_contact.client_base_url }}">
                            <img src="{{ site_contact.client_base_url }}/images/logo.png" alt="{{ site_contact.company_name }}" style="width: 100%">
                        </a>
                    </td>
                    <td style="width: 80%">
                        <h4>
                            {{ sender_name }}
                        </h4>
                        {% if site_contact.tel %}
                        <p>Hotline: <a style="text-decoration: none; color: #0b2e13" href="tel:{{ site_contact.tel }}">
                                {{ site_contact.tel }}
                            </a></p>
                        {% endif %}
                        {% if site_contact.email %}
                        <p>Email: <a style="text-decoration: none; color: #0b2e13"
                                href="mailto:{{ site_contact.email }}">
                                {{ site_contact.email }}
                            </a></p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>